.sticky {
    position: fixed;
    float: right;
    background-color: transparent;
    width: 10%;
    height: 10%;
    z-index: 1;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #000;
    content: url('../img/decor.bmp');
    font-size: 40px;
}

#myModalContent {
    background-color: none;
    background-image: url('../img/Decor.png');
}